# ignore binaries
binaries/*.lib

# ignore SWIG content
packages/SwigMem.m
packages/SwigRef.m
packages/+fmippim/*.m
packages/+fmippex/*.m
packages/lib/*.dll
packages/lib/*.mexw64

# ignore FMUs for testing
*.fmu

# ignore pickle file from installation process
matlab_fmu_install.pkl

# ignore output from compiling the documentation
doc/matlab-fmu-doc.aux
doc/matlab-fmu-doc.bbl
doc/matlab-fmu-doc.blg
doc/matlab-fmu-doc.log
doc/matlab-fmu-doc.out
doc/matlab-fmu-doc.pdf
doc/matlab-fmu-doc.ptc
doc/matlab-fmu-doc.synctex.gz
doc/matlab-fmu-doc.toc

# ignore extra files from running CMake
release/*.pyc
